@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>月度统计表管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="user" name="用户名称" placeholder="工号/姓名"/>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="month" name="月份" placeholder="YYYY-MM"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MonthCount.search()"/>
                            </div>
                        </div>

                        <#table id="MonthCountTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/monthCount/monthCount.js"></script>
@}
