@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="month" name="月份" value="${item.month}" underline="true"/>
                            <#input id="userId" name="工号" value="${item.userId}" underline="true"/>
                            <#input id="userName" name="姓名" value="${item.userName}" underline="true"/>
                            <#input id="company" name="公司" value="${item.company}" />
                </div>

                <div class="col-sm-6">
                            <#input id="department" name="部门" value="${item.department}" underline="true"/>
                            <#input id="team" name="组" value="${item.team}" underline="true"/>
                            <#input id="times" name="次数" value="${item.times}" underline="true"/>
                            <#input id="type" name="类型" value="${item.type}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MonthCountInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MonthCountInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/monthCount/monthCount_info.js"></script>
@}
