@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>月度考勤表管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="user" name="用户名称" placeholder="工号/姓名"/>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="year" name="年份" placeholder="YYYY"/>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="month" name="月份" placeholder="MM"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MonthAttendance.search()"/>
                            </div>
                        </div>

                        <!--<div class="table-responsive">-->
                            <#table id="MonthAttendanceTable"/>
                        <!--</div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/monthAttendance/monthAttendance.js"></script>

@}
