<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.AttendanceRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.AttendanceRecord">
        <id column="id" property="id" />
        <result column="attendanceTime" property="attendanceTime" />
        <result column="userId" property="userId" />
        <result column="userName" property="userName" />
        <result column="action" property="action" />
        <result column="imgPath" property="imgPath" />
        <result column="company" property="company" />
        <result column="department" property="department" />
        <result column="team" property="team" />
        <result column="note" property="note" />
        <result column="img_id" property="imgId" />
        <result column="flag" property="flag" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,attendance_Time,user_Id,user_name,action,img_Path,company,department,team,note,img_id,flag
    </sql>

    <select id="getOneDayAttendRecords" resultType="cn.stylefeng.guns.modular.system.model.AttendanceRecord">
        select
        <include refid="Base_Column_List" />
        from user_attendance_record
        where (attendance_Time between CONCAT(#{date},' 00:00:00') and CONCAT(#{date},' 23:59:59')) and user_id is not null
        order by user_Id,attendance_Time
    </select>

    <select id="statisticsOneDayAttendRecords" resultType="map">
        select a.account as user_id,b.result from sys_user a
        left join (
          select user_id,group_concat(note order by attendance_Time) result from user_attendance_record where (attendance_Time between CONCAT(#{date},' 00:00:00') and CONCAT(#{date},' 23:59:59')) and flag ='1'
          group by user_id
        ) b on a.account=b.user_id
    </select>

    <select id="getLackDeptInfoAttendanceRecord" resultType="cn.stylefeng.guns.modular.system.model.AttendanceRecord">
        select a.id,a.attendance_Time,b.account as user_Id,a.user_name,a.action,a.img_Path,a.company,a.department,a.team,a.note,a.img_id,a.flag
        from user_attendance_record a
        left join sys_user b on a.img_id=b.imgid
        where a.user_name is null
    </select>

    <select id="getList" resultType="cn.stylefeng.guns.modular.system.model.AttendanceRecord">
        select a.id,a.attendance_Time,b.account as user_Id,a.user_name,a.action,a.img_Path,a.company,a.department,a.team,a.note,a.img_id,a.flag
        from user_attendance_record a
        left join sys_user b on a.img_id=b.imgid
        where 1=1
        <if test="user != null and user != ''">
            and (a.user_Id like CONCAT('%',#{user},'%') or a.user_name like CONCAT('%',#{user},'%'))
        </if>
        <if test="date != null and date != ''">
            and a.attendance_Time like CONCAT(#{date},'%')
        </if>
        <if test="deptId != null and deptId != 0">
            and (b.deptid = #{deptId} or b.deptid in ( select id from sys_dept where pids like CONCAT('%[', #{deptId}, ']%') ))
        </if>
        order by a.attendance_Time desc
    </select>



</mapper>
