<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Dept">
        <id column="id" property="id"/>
        <result column="num" property="num"/>
        <result column="pid" property="pid"/>
        <result column="pids" property="pids"/>
        <result column="simplename" property="simplename"/>
        <result column="fullname" property="fullname"/>
        <result column="tips" property="tips"/>
        <result column="version" property="version"/>
        <result column="attend_times" property="attendTimes" />
        <result column="start_work_time" property="startWorkTime" />
        <result column="end_work_time" property="endWorkTime" />
        <result column="start_rest_time" property="startRestTime" />
        <result column="end_rest_time" property="endRestTime" />
        <result column="leave_time" property="leaveTime" />
        <result column="start_over_time" property="startOverTime" />
        <result column="email1" property="email1" />
        <result column="email2" property="email2" />
        <result column="email3" property="email3" />
        <result column="send_email_cycle" property="sendEmailCycle" />
        <result column="work_day" property="workDay" />
    </resultMap>

    <sql id="Base_Column_List">
        id,num,pid,pids,simplename,fullname,tips,version,attend_times,start_work_time,end_work_time,start_rest_time,end_rest_time,leave_time,start_over_time,email1,email2,email3,send_email_cycle,work_day
    </sql>

    <select id="tree" resultType="cn.stylefeng.guns.core.common.node.ZTreeNode">
		select id,pid as pId,simplename as name,
		(
		CASE
		WHEN (pId = 0 OR pId IS NULL) THEN
		'true'
		ELSE
		'false'
		END
		) as isOpen from sys_dept
	</select>

    <select id="list" resultType="map">
        select * from sys_dept
        <if test="condition != null and condition != ''">
            where simplename like CONCAT('%',#{condition},'%') or fullname like CONCAT('%',#{condition},'%')
        </if>
        order by num ASC
    </select>

    <select id="getDeptByUserId"  resultType="cn.stylefeng.guns.modular.system.model.Dept">
        select
        	d.id,
            d.num,
            d.pid,
            d.pids,
            d.simplename,
            d.fullname,
            d.tips,
            d.version,
            d.attend_times,
            d.start_work_time,
            d.end_work_time,
            d.start_rest_time,
            d.end_rest_time,
            d.leave_time,
            d.start_over_time,
            d.email1,
            d.email2,
            d.email3,
            d.send_email_cycle,
            d.work_day
        from sys_dept d, sys_user u where u.deptid=d.id and u.account = #{userId}

    </select>

    <update id="updateChildAttendParam">
		update sys_dept set attend_times    = #{attendTimes},
                            start_work_time = #{startWorkTime},
                            end_work_time   = #{endWorkTime},
                            start_rest_time = #{startRestTime},
                            end_rest_time   = #{endRestTime},
                            leave_time      = #{leaveTime},
                            start_over_time = #{startOverTime},
                            email1          = #{email1},
                            email2          = #{email2},
                            email3          = #{email3},
                            send_email_cycle= #{sendEmailCycle},
                            work_day        = #{workDay}
		where pids like CONCAT('%',#{deptId},'%')
	</update>


    <select id="getDeptBySendEmailCycle"  resultType="cn.stylefeng.guns.modular.system.model.Dept">
        select
        	d.id,
            d.num,
            d.pid,
            d.pids,
            d.simplename,
            d.fullname,
            d.tips,
            d.version,
            d.attend_times,
            d.start_work_time,
            d.end_work_time,
            d.start_rest_time,
            d.end_rest_time,
            d.leave_time,
            d.start_over_time,
            d.email1,
            d.email2,
            d.email3,
            d.send_email_cycle,
            d.work_day
        from sys_dept d  where send_email_cycle=#{cycle} and (email1 is not null or  email2 is not null or email3 is not null)

    </select>



</mapper>
